@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Galada&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: var(--mantecol);
    font-family: "Montserrat", sans-serif;
    /* overflow-x: hidden; */
}

:root {
    --marron: rgb(86, 44, 44);
    --beige: rgb(240, 240, 225);
    --mostaza: rgb(255, 214, 92);
    --verde: rgb(48, 107, 52);
    --verdecito: rgb(200, 224, 135);
    --azul: rgb(43, 65, 98);
    --celestito: rgb(168, 213, 226);
    --mantecol: rgb(220, 195, 170);
    --salmoncito: rgb(245, 155, 113);
    --gris: rgb(119, 144, 113);
    --aguamarina: rgb(192, 255, 228);
    --transparente: rgba(1, 1, 1, 0);
    --borde_texto:  -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    --borde_claro: -1px -1px 0 var(--mantecol), 1px -1px 0 var(--mantecol), -1px 1px 0 var(--mantecol), 1px 1px 0 var(--mantecol);
    --borde_fino: -1px -1px 0 var(--marron), 1px -1px 0 var(--marron), -1px 1px 0 var(--marron), 1px 1px 0 var(--marron);
}


/* ___________________________________NAVBAR____________________________________ */

header {
    background-color: var(--transparente);
    background-color: var(--mantecol);
    margin: 0 auto;
    /* max-width: 1300px; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 0px 50px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo-container img {
    height: 55%;
}

.navbar,.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;;
}

.navbar-list{
    gap: 50px;
}

.navbar i {
    font-size: 20px;
    color: var(--marron);
    cursor: pointer;
}

/* #toggle-menu {
    display:none;
} */


/* ___________________________________HERO Y GENERALES____________________________________ */

.cont-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin: 0 auto;
    width: 100%;
    gap: 100px;
    overflow-x: hidden;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.img-hero{
    width: 100%;
    display: flex;
    align-items: center;
}

.titles a {
    color: white;
}

#img-main {
    width: 900px;
}

h1 {
    font-family: 'Galada', sans-serif;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 150px;
    color: var(--marron);
    text-shadow: var(--borde_texto);
}

h2 {
    /* position: absolute; */
    width: 639px;
    height: 90px;
    /* left: 250px; */
    /* top: 270px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 66.82px;
}

h4 {
    font-size: 16px;
}
h6 {
    /* position: absolute; */
    width: 639px;
    height: 90px;
    /* left: 250px; */
    /* top: 330px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 56px;
}

.invisible {
    display: none;
}

.subtitulos{
    margin: 100px 50px 20px;
    color: var(--marron);
    font-size: 20px;
}


/* ___________________________________CARRITO____________________________________ */

#cart {
    position: fixed;
    top: 0;
    /* right: 0; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 2;
}

#cart a {
    color: #909090;
    font-size: 12px;
}

.separador {
    height: 1px;
    width: 325px;
    background: #606060;
}

.text-cart {
    color: #FFFFFF;
}

#carrito {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    max-height: 160px;
    overflow-y: scroll;
}

#carrito::-webkit-scrollbar {
    width: 10px;
    background-color: #252525;
    border-radius: 5px;
}

#carrito::-webkit-scrollbar-button {
    display: none;
}

#carrito::-webkit-scrollbar-thumb {
    background-color: #606060;
    border-radius: 5px;
}

#carrito p {
    color: #909090;
    font-size: 12px;
    width: 110px;
}

.cards-carrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 100px;
    background: #353535;
    border-radius: 15px;
    padding: 15px;
    gap: 10px;
}

/* .cards-carrito button {
    width: 20px;
    height: 20px;
    font-size: 1px;
    border-radius: 5px;
} */

.carrito-imgs {
    max-width: 80px;
    height: 50px;
    /* border-radius: 16px; */
    object-fit: cover;
    padding-left: 15px;
}

.datos-carrito {
    position: absolute;
    right: 0;
    width: 350px;
    min-height: 350px;
    background-color: var(--marron);
    padding: 20px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 20px;
}

.numeros-carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.numeros-carrito div {
    width: 90%;
}

.gastos-carrito div, .final-compra div {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gastos-carrito p {
    font-size: 15px;
}

.final-compra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.final-compra p {
    font-size: 25px;
}

#total {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(var(--mostaza), var(--marron));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ___________________________________RECOMENDACIONES____________________________________ */

#recomendaciones {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.cards-recomendaciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 130px;
    background: var(--beige);
    border-radius: 5px;
    padding: 15px;
    gap: 10px;
}

.recomendaciones-imgs {
    width: auto;
    height: 70px;
    object-fit: cover;
}


/* ___________________________________CATEGORIAS____________________________________ */

#categorias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.img-cat {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    bottom: 70px;
}

#img-cassettes {
    position: absolute;
    bottom: 80px;
}

#categorias div p {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: 40px;
}

.cards-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    min-width: 200px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
}

.populares {
    background: var(--salmoncito);
}
.vinilos {
    background: var(--celestito);
}
.cassettes {
    background: var(--verdecito);
}
.cds {
    background: var(--gris);
}
.libros {
    background: var(--aguamarina);
}

.cards-c span {
    /* background-image: linear-gradient(90deg, #FFA100,#FB103D); */
    background-image: linear-gradient(var(--mostaza), var(--marron));
    font-size: 10px;
    height: 5px;
    width: 20px;
    border-radius: 15px;
    margin-top: 15px;
    position: absolute;
    bottom: 20px;
}

.cat-selected {
    border: #000 solid 5px;
}


/* ___________________________________PRODUCTOS____________________________________ */

.datos-prod {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nombre-prod {
    font-size: 20px;
}

.autor-productos {
    font-size: 12px;
}

.autor-recomendaciones, .autor-carrito {
    display: none;
}

.precio-prod {
    font-size: 20px;
    font-weight: bold;
    /* background: linear-gradient(#FFA100, #FB103D); */    
    background: linear-gradient(var(--mostaza), var(--marron));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#productos{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 40px;
    row-gap: 30px;
    /* gap: 30px;s */
}

.cards-productos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 320px;
    background: var(--beige);
    border-radius: 5px;
    padding: 15px;
}

#pop-imgs, .productos-imgs{
    width: auto;
    height: 150px;
    /* width: auto; */
    /* max-width: 150px; */
    object-fit: cover;
}


/* ___________________________________FOOTER____________________________________ */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 3rem 1rem;
}

.info_contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.links_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logos_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.loguito_footer {
    height: 200px;
}

.typo_footer {
    font-family: 'Galada', sans-serif;
    font-size: 80px;
    color: var(--marron);
    text-shadow: var(--borde_claro);
}

.redes_contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.link_redes {
    font-size: 50px;
    color: var(--marron);
    text-shadow: var(--borde_fino);
}

.direccion_contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 20px;
    overflow-wrap: break-word;
    color: var(--marron);
    gap: 20px;
    padding-top: 2rem;
}

.derechos_footer {
    color: var(--marron);
    font-size: 20px;
    text-align: center;
}

.extras_footer {
    text-align: center;
}

.extras_footer a {
    text-decoration: underline;
    font-size: 15px;
    color: var(--marron);
    text-align: center;
}


/* ___________________________________BOTONES Y EXTRAS____________________________________ */

.btn-ver {
    /* background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%); */
    background: linear-gradient(98.81deg, var(--mostaza) -0.82%, var(--marron) 101.53%);
    box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
    border-radius: 15px;
    /* position: absolute; */
    width: 166px;
    cursor: pointer;
    height: 50px;
    color: white;
    /* top: 400px; */
    /* left: 250px; */
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    border: none;
}

.card-btn {
    /* background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%); */
    background: linear-gradient(98.81deg, var(--mostaza) -0.82%, var(--marron) 101.53%);
    box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
    border-radius: 15px;
    /* position: absolute; */
    width: 100px;
    height: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.carrito-btns-add {
    width: 25px;
    height: 25px;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 15px;
}

.carrito-btns-rmv {
    font-size: 20px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.recomendaciones-btns-rmv, .productos-btns-rmv, .recomendaciones-count, .productos-count {
    display: none;
}

.carrito-count {
    width: 20px;
    height: 25px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
}

#exit-cart {
    height: 25px;
    width: 25px;
    font-size: 10px;
    border-radius: 5px;
}

#purchase {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    background: gray;
}

.cards-carrito div {
    justify-content: space-between;
    width: auto;
}

.controles-prod {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* padding-right: 15px; */
}

#empty {
    text-align: center;
    width: 180px;
    font-size: 15px;
    color: #909090;
    font-family: "Montserrat";
    margin: auto;
    padding: 10px 0;
}

#recomendaciones, #categorias, #productos {
    margin: 0 50px;
}


@media screen and (max-width: 720px) {


    /* -------------------- NAVBAR -------------------- */
    header {
        background-color: var(--marron);
        max-width: none;
        height: 75px;
        padding: 0px 25px 0px 10px;
    }

    .logo-container {
        height: 60px;
        width: 60px;
    }

    .logo-container img {
        height: 100%;
        width: 100%;
    }
    
    .navbar-list{
        gap: 25px;
    }
    
    .navbar i {
        font-size: 20px;
        color: var(--mantecol);
        cursor: pointer;
    }
    
    #home {
        display: none;
    }

    /* #toggle-menu {
        display:none;
    } */

    /* -------------------- HERO -------------------- */
    
    .cont-hero {
        flex-direction: column;
        align-items: center;
        padding: 80px 0 40px 0;
        margin: 0 auto;
        gap: 100px;
        background-color: rgba(85, 45, 45, 0.85);
        height: 100vh;
    }
    
    #hero {
        background: url(https://cdn-0.studybreaks.com/wp-content/uploads/2022/05/samuel-regan-asante-5j7nQv-jaVM-unsplash-scaled-e1651881324847.jpg?ezimgfmt=rs:0x0/rscb6/ng:webp/ngcb6) no-repeat center/cover;
        height: 100vh;
    }
    
    .titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .img-hero{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .titles a {
        color: white;
    }
    
    #img-main{
        /* position: absolute; */
        width: 300px;
        /* top: 200px; */
        /* right: 230px; */
    }
    
    h1 {
        font-family: 'Galada', sans-serif;
        text-align: center;
        overflow-wrap: break-word;
        font-size: 75px;
        color: var(--mantecol);
        text-shadow: none;
    }
    
    h2 {
        /* position: absolute; */
        width: 639px;
        height: 90px;
        /* left: 250px; */
        /* top: 270px; */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 51px;
        line-height: 66.82px;
    }
    
    h4 {
        font-size: 16px;
    }
    h6 {
        /* position: absolute; */
        width: 639px;
        height: 90px;
        /* left: 250px; */
        /* top: 330px; */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 56px;
    }
    
    .subtitulos{
        margin: 100px 50px 20px;
        color: var(--marron);
        font-size: 20px;
    }

    /* -------------------- PRODUCTOS -------------------- */
    
    .datos-prod {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    .nombre-prod {
        font-size: 15px;
    }
    
    .precio-prod {
        font-size: 30px;
        font-weight: bold;
        /* background: linear-gradient(#FFA100, #FB103D); */    
        background: linear-gradient(var(--mostaza), var(--marron));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #productos{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .cards-productos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 280px;
        height: 280px;
        background: var(--beige);
        border-radius: 10px;
        padding: 15px;
    }
    
    #pop-imgs, .productos-imgs{
        width: auto;
        height: 150px;
        /* width: auto; */
        /* max-width: 150px; */
        object-fit: cover;
    }
    
    /* -------------------- CARRITO -------------------- */

    #carrito {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        gap: 10px;
        align-items: center;
        margin-top: 20px;
        max-height: 160px;
        overflow-y: scroll;
        overflow-x: auto;
    }

    .datos-carrito {
        position: absolute;
        right: 0;
        width: 100%;
        min-height: 350px;
        background-color: var(--marron);
        padding: 20px;
        border-bottom-left-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        gap: 20px;
    }

    #carrito::-webkit-scrollbar {
        display: none;
    }
    
    #carrito::-webkit-scrollbar-button {
        display: none;
    }
    
    #carrito::-webkit-scrollbar-thumb {
        display: none;
    }


    /* -------------------- RECOMENDACIONES -------------------- */

    #recomendaciones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: center;
        margin: 0;
    }
    
    .cards-recomendaciones {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        height: 80px;
        background: var(--beige);
        border-radius: 5px;
        padding: 15px;
        gap: 10px;
    }
    
    .cards-recomendaciones p {
        font-size: 13px;
    }

    .cards-recomendaciones button {
        width: 50px;
        font-size: 7px;
    }

    .recomendaciones-imgs {
        width: auto;
        height: 40px;
        object-fit: cover;
    }

    /* -------------------- CATEGORIAS -------------------- */
    
    #categorias {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-y: scroll;
        gap: 20px;
        margin: 0 0 0 30px;
    }
    
    .img-cat {
        max-width: 60px;
        max-height: 60px;
        position: absolute;
        bottom: 70px;
    }
    
    .cards-c {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 150px;
        min-width: 150px;
        border-radius: 100px;
        cursor: pointer;
        position: relative;
    }
    
    /* -------------------- FOOTER -------------------- */
    
}
